*.o
*.d
*.lst
*.scvd
*.out
~*~

archive.zip

sources/generated/
sources/Device/Listings/
sources/Device/Objects/
sources/Device/Listings-Debug/
sources/Device/Objects-Debug/
sources/Device/DebugConfig/
